body {
  background-color: #2ecc71;
  font-family: 'Fredoka One', cursive;
  color: #000000;
  line-height: 1.5em;
  padding: 2em;
}

.ng-wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: -50px;
}

.heading {
  color: #2ecc71;
  text-align: center;
  font-size: 100px;
  text-shadow: 0px -15px 23px black;
  margin-bottom: 100px;
  -webkit-text-stroke: 2px black;
}

.twitter-tweet {
  margin: 0 auto;
  border: 1px solid #e1e8ed;
}

.copy {
  color: #000000;
  width: 800px;
  text-align: center;
  font-size: 25px;
  line-height: 1.5em;
  margin-bottom: 50px;
  padding: 20px;
}

.footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height:50px;
  width: 100%;
}

.ng-generate {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background-color: orange;
}

.btn {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: yellow;
}

.center {
  margin: 0 auto;
}
